// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow: #FEC171;
$panGreen: #30B08F;

// header
$pageHeaderBgColor: #2d2f33;

// sidebar
$sidebarWidth: 210px;
$sidebarMenuBgColor: #304156;
$sidebarSubMenuBgColor: #1f2d3d;
$sidebarMenuHoverBgColor: #001528;
$sidebarSubMenuHoverBgColor: #001528;
$sidebarMenuActiveBgColor: #5FB878;
$sidebarMenuTextColor: #bfcbd9;
$sidebarSubMenuTextColor: #bfcbd9;
$sidebarMenuTextHoverColor: #FFFFFF;
$sidebarSubMenuTextHoverColor: #FFFFFF;
$sidebarMenuTextActiveColor: #FFFFFF;

// scrollbar
$scrollbarColor: #909399;

